#IGNORAR ESTOS ARCHIVOS...
# Esta carpeta hace referencia al entorno virtual que creamos con las dependencias especificas...
# decidimos ignorarlo, porque ya quedan claras en "requirements.txt" y es innecesario agregarlo al repository
env
