#IGNORAR ESTOS ARCHIVOS...

#Ignore the virtual environment developed for running a specific python version
env

#Ignore default pycache
__pycache__

#Ignore vscode json python_env indicator
.vscode

