<!DOCTYPE html>
<!-- ESTE SERA NUESTRO ARCHIVO HTML BASICO O PRINCIPAL PARA LAYOUT COMUN DE OTROS HTMLS-->
<!-- CON BASE EN ESTE SE CREAN HERENCIAS HACIA OTROS HTML QUE LO REQUIERAN -->
<!-- Es muy util, porque podremos aprovecharnos de este para crear otros HTML facilmente y nos... -->
<!-- ... permitira hacer cambios en TODO el proyecto desde esta base, sin tener que cambiar todo -->
<html>
    <head>
        <!-- Agregamos poder incluir caracteres latinos -->
        <meta charset="UTF-8">
        <!-- Agregamos capacidad de correr correctamente en otros dispositivos -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Incluimos Bootstrap para mejorar el estilo del documento (disponible online y opensource) -->    
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        
        <style>
            h1 {
                background-color: aqua;
            }
        </style>

        <!-- Titulo configurable desde block TITULO (facilita cambiarlo desde otros HTMLS) -->
        <title>FLASK : {% block TITULO %}{% endblock %}</title>
    </head>

    <body>
        
        <!-- Los "block" nos permiten generar partes del codigo reemplazables desde otros HTMLs -->

        <!-- Creamos titulo h1 con block, para configurarlo desde herencias (segun HTML respectivo)-->
        <h1>BIENVENIIDO A
            {% block HEADER_1 %}
            {% endblock %}
        </h1>


        <!-- Bloque para info principal MAIN para heredar hacia otros HTMLS -->
        {% block MAIN %}
        {% endblock%}





        

    </body>
</html>