<!-- ARCHIVO HELLO QUE SE APROVECHA DE "base.html" -->

<!-- Extendemos funcionalidad del base a traves de "extends" -->
{% extends 'base.html' %}


<!-- A continuacion se crea un IF con ayuda de sintaxis de Jinja2 -->

{% if IP_usuario %}
    <!-- Si logra encontrar variable enviada desde Flask de IP_usuario -->
    <p>Muchas gracias por visitarnos, su IP actual es:  {{ IP_usuario }}</p>
{% else %}
    <!-- Si NO lo logra, habilitar link a inicio (y se crea entonces IP_usuario y redirecciona aqui) -->
    <a href=" {{ url_for('index') }} ">Primero debes ir a INDEX</a>
{% endif %}



<!-- Creamos ciclo for para recorrer el vector_cool enviado desde python -->
<ul>
    {% for item_vector in vector_cool %}
        <li>item_vector</li>
    {% endfor %}
</ul>