<!DOCTYPE html>
<!-- ESTE SERA NUESTRO ARCHIVO HTML BASICO O PRINCIPAL PARA LAYOUT COMUN DE OTROS HTMLS-->
<!-- CON BASE EN ESTE SE CREAN HERENCIAS HACIA OTROS HTML QUE LO REQUIERAN -->
<!-- Es muy util, porque podremos aprovecharnos de este para crear otros HTML facilmente y nos... -->
<!-- ... permitira hacer cambios en TODO el proyecto desde esta base, sin tener que cambiar todo -->
<html>
    <head>
        <!-- Agregamos poder incluir caracteres latinos -->
        <meta charset="UTF-8">
        <!-- Agregamos capacidad de correr correctamente en otros dispositivos -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Incluimos Bootstrap para mejorar el estilo del documento (disponible online y opensource) -->    
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js">
        
        <!-- Ahora agregamos archivo CSS nuestro (se encuentra en carpeta 'static') -->
        <link rel="stylesheet" href="{{ url_for('static' , filename='css/main.css') }}">

        <!-- Titulo configurable desde block TITULO (facilita cambiarlo desde otros HTMLS) -->
        <title>FLASK : {% block TITULO %}{% endblock %}</title>
        
    </head>

    <body>

        <!-- Para incluir otro HTML utilizamos "include", trayendo asi la navbar.html creada externa -->
        <header class="container-fluid">
            <div class="row">
                {% include 'navbar.html' %}
            </div>
        </header>
        
        <!-- Los "block" nos permiten generar partes del codigo reemplazables desde otros HTMLs -->
        <!-- Creamos titulo h1 con block, para configurarlo desde herencias (segun HTML respectivo)-->
        <h1 class="container-fluid col-12">
            {% block HEADER_1 %}
            {% endblock %}
        </h1>

        <!-- Agregamos clase de row y container-fluid para facilitar trabajo de grid a traves de bootstrap -->
        <div class="row container-fluid">
            <!-- Bloque para info principal MAIN para heredar hacia otros HTMLS -->
            {% block MAIN %}
            {% endblock%}
        </div>






        

    </body>
</html>