<!-- ARCHIVO IOT QUE SE APROVECHA DE "base.html" -->

<!-- Extendemos funcionalidad del base a traves de "extends" -->
{% extends 'base.html' %}

<!-- A continuacion de deben agregar todos los "blocks" para agregar estos en su respectivo lugar del "base" -->

{% block TITULO%}
    IOT   
{% endblock%}


{% block HEADER_1%}
    BIENVENIDO A SECCIÓN DE IOT...
{% endblock %}


{% block MAIN %}

<!-- SECCION INGRESO DE DATOS POR PARTE DEL USUARIO PARA CONTROL HACIA EL ESP8266 -->
<!-- NOTA: el "container-fluid" es indispensable para que se adapte correctamente al total de espacio -->
<div class="container-fluid animated">

    <!-- dentro de este container, creamos row, para dividir los inputs por igual -->
    <div class="row">
        
        <!-- PREGUNTA 1 SOBRE ESTADO DEL LED VERDE -->
        <div class="col-12">
            <form  action="{{ url_for('IOT') }}" method="post">
                <table class="col-12">
                    <td class="fondo-preguntas">
                        <h5> INFORMACIÓN PARA ENVIAR AL ESP8266:</h5>
                        <input type="text" placeholder="ESCRIBIR MENSAJE A ESP8266"  size="30" name="MENSAJE_A_ESP" ><br>
                        <input type="submit" value="Submit" >                        
                        actual: {{ MENSAJE_A_ESP }}
                        
                    </td>
                </table>
            </form>
        </div>

    </div>
</div>


{% endblock %}


