<!-- ARCHIVO PAGINA ERROR QUE SE APROVECHA DE "base.html" -->

<!-- Extendemos funcionalidad del base a traves de "extends" -->
{% extends 'base.html' %}

<!-- A continuacion de deben agregar todos los "blocks" para agregar estos en su respectivo lugar del "base" -->

{% block TITULO%}
    ERROR HANDLER
{% endblock%}


{% block HEADER_1%}
    LO SENTIMOS, HUBO UN ERROR EN EL DIRECCIONAMIENTO
{% endblock %}


{% block MAIN %}

        <p>Lo sentimos, esta paginas NO se encuentra disponible en este momento.</p>
        <p>Le sugerimos devolverse a HOME.</p>



{% endblock%}


