<!-- ARCHIVO CUENTA QUE SE APROVECHA DE "base.html" -->

<!-- Extendemos funcionalidad del base a traves de "extends" -->
{% extends 'base.html' %}

<!-- A continuacion de deben agregar todos los "blocks" para agregar estos en su respectivo lugar del "base" -->

{% block TITULO%}
    CUENTA
{% endblock%}


{% block HEADER_1%}
    BIENVENIDO A SECCIÓN DE SU CUENTA CON NOSOTROS...
{% endblock %}


{% block MAIN %}

<style>
    td , tr, table{
        background-color: navajowhite;
        padding: 10px;
        border: black solid 1px;
    }

</style>

    <div class="col-6 offset-3">
        
        <h4>Querido {{ usuario }}, sus datos son:</h4><br>
        
        <table>
            <tr>
                <td>IP usuario</td>
                <td>{{ IP_usuario }}</td>
            </tr>
            <tr>
                <td>Nombre</td>
                <td>{{ usuario }}</td>
            </tr>
            <tr>
                <td>Constraseña</td>
                <td>{{ password }}</td>
            </tr>
        </table>


    </div>

{% endblock %}


