<!-- ARCHIVO HELLO QUE SE APROVECHA DE "base.html" -->

<!-- Extendemos funcionalidad del base a traves de "extends" -->
{% extends 'base.html' %}



<!-- A continuacion de deben agregar todos los "blocks" para agregar estos en su respectivo lugar del "base" -->

{% block TITULO%}
    HELLO   
{% endblock%}


{% block HEADER_1%}
    BIENVENIDO A HELLO...
{% endblock %}


{% block MAIN %}

    <div class="col-4">
        <!-- Ahora agregamos imagen accediendo a estas desde directorio 'static' -->
        <img src="{{ url_for('static' , filename='imgs/FOTO_RICK_MORTY.jpg') }}">

    </div>

    <div class="col-4 offset-1">

        <!-- Creamos formulario para procesamiento de info del usuario -->
        <!-- Se hace con POST para poder acceder al correcto HTTP -->
        <form action="{{ url_for('hello') }}"  method="POST">
            <div class="form-group"> 

                <!-- Creamos la entrada del nombre del usuario(aprovechandonos de clase creada en app) -->
                <!-- Label permite renderear la indicaciono del usuario -->
                <label> {{ login_form.usuario.label }} </label>
                <input type="text" class="form-control" id="nombre" aria-describedby="emailHelp">
                <small class="form-text text-muted">Recuerde que importan las mayusculas y minusculas</small>
                <!-- {{ login_form.usuario }} -->


                <br>

                <!-- Creamos la entrada del password del usuario(aprovechandonos de clase creada en app) -->
                <!-- Label permite renderear la indicaciono del usuario -->
                <label> {{ login_form.password.label }} </label>
                <input type="password" class="form-control" id="password">
                <!-- {{ login_form.password }} -->

                <br>


                <!-- Agregamos boton de submit para "enviar" info y realizar el POST -->
                {{ login_form.submit }}

            </div>




        </form>
    </div>

{% endblock %}


