<!-- ARCHIVO PARA CREAR BARRA DE NAVEGACION DE NUESTRA APP -->

<style>
    .fila-fondo {
        background-color: rgb(81, 60, 218);
    }
    .navegador{
        color: white;
        background-color: rgb(81, 60, 218);
        padding:20px;
        font-family: sans-serif;
        font-size:  large;

    }

    .navegador:hover {
     color:#00A0C6; 
     text-decoration:none; 
     cursor:pointer;  
    }

    .derecha {
        position: absolute;
        right: 10px;
        top: 20px;
    }
</style>

<nav class="col-12  fila-fondo">
    <div class="row col-8">

        <a href="{{url_for('index')}}" class="navegador" >HOME</a >
        <a href="{{url_for('IOT')}}" class="navegador">IOT</a>
        <a href="https://github.com/san99tiago" class="navegador"  target="_blank">GITHUB</a>

    </div>

    <div class="derecha">
        <a href="{{ url_for('cuenta')}}"  class="navegador">
            {% if usuario %}
                cuenta: {{ usuario }}
            {% endif %}
        </a>
    </div>

</nav>


<!-- Esto es para procesar los "FLASHED MESSAGES" generados al terminar formmlario -->
<!-- Nota: ( get_flased_message() ) es funcion de Jinja2 compatible con Flask -->
{% for mensaje in get_flashed_messages() %}
    <div class="alert  alert-succes  alert-dismissible">
        <h4>{{mensaje}}</h4>
    </div>
{% endfor %}